.DS_Store
.idea/
.tooling/
local.properties

android/.gradle/
android/**/build/
android/captures/
android/.kotlin/
android/**/.cxx/
android/*.iml
android/runtime-node/prebuilt/**/*.so
android/runtime-node/work/
android/core/runtime/src/main/jniLibs/**/*.so

*.apk
*.aab
*.hprof
*.jks
*.keystore
*.log
